<a href="https://colab.research.google.com/github/arijit1201/python_refresher/blob/main/intermediate_and_advanced_python_refresher.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# LISTS

**Intermediate and advanced python**

## Creating a list

In [1]:
list_1 = ["banana", "cherry", "apple"]
print(list_1)

# Or create an empty list with the list function
list_2 = list()
print(list_2)

# Lists allow different data types
list_3 = [5, True, "apple"]
print(list_3)

# Lists allow duplicates
list_4 = [0, 0, 1, 1]
print(list_4)

['banana', 'cherry', 'apple']
[]
[5, True, 'apple']
[0, 0, 1, 1]

In [2]:
#to check whether a particular element is in a list
print( "goku" in ["deku", "saitama"])
print( "deku" in ["deku", "saitama"])

False
True

## Access elements

In [3]:
item = list_1[0]
print(item)

# You can also use negative indexing, e.g -1 refers to the last item,
# -2 to the second last item, and so on
item = list_1[-1]
print(item)

banana
apple

## Change items

In [4]:
# Lists can be altered after their creation
list_1[2] = "lemon"
print(list_1)

['banana', 'cherry', 'lemon']

## Useful Methods

---

âš¡

In [5]:
my_list = ["banana", "cherry", "apple"]
# len() : get the number of elements in a list
print("length : ", len(my_list))

length :  3

In [6]:
# append() : adds an element to the end of the list
my_list.append("orange")
print(my_list)

['banana', 'cherry', 'apple', 'orange']

In [7]:
# insert() : adds an element at the specified position
my_list.insert(1, "raspberry")
print(my_list)

['banana', 'raspberry', 'cherry', 'apple', 'orange']

In [8]:
# pop() : removes and returns the item at the given position, default is the last item
print("Popped item : ",my_list.pop())
print("Popped item : ",my_list.pop(1))

Popped item :  orange
Popped item :  raspberry

In [9]:
# remove() : removes an item from the list
my_list.remove("cherry") # Value error if not in the list

In [10]:
# clear() : removes all items from the list
my_list.clear()
print(my_list)

[]

In [11]:
# reverse() : reverse the items
my_list = ["banana", "cherry", "apple"]
my_list.reverse()
print('Reversed: ', my_list)

Reversed:  ['apple', 'cherry', 'banana']

In [12]:
# sort() : sort items in ascending order
my_list.sort()
print('Sorted: ', my_list)

Sorted:  ['apple', 'banana', 'cherry']

In [13]:
# use sorted() to get a new list, and leave the original unaffected.
# sorted() works on any iterable type, not just lists
my_list = ["banana", "cherry", "apple"]
new_list = sorted(my_list)

In [14]:
# create list with repeated elements
list_with_zeros = [0] * 5
print(list_with_zeros)

[0, 0, 0, 0, 0]

In [15]:
# concatenation
list_concat = list_with_zeros + my_list
print(list_concat)

[0, 0, 0, 0, 0, 'banana', 'cherry', 'apple']

In [16]:
# convert string to list
string_to_list = list("Hello world")
print(string_to_list)

['H', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd']

## copy a list

In [17]:
 list_org = ["banana", "cherry", "apple"]

# this just copies the reference to the list, so be careful
list_copy = list_org

# now modifying the copy also affects the original
list_copy.append(True)
print(list_copy)
print(list_org)

['banana', 'cherry', 'apple', True]
['banana', 'cherry', 'apple', True]

In [18]:
# use copy(), or list(x) to actually copy the list
# slicing also works: list_copy = list_org[:]
list_org = ["banana", "cherry", "apple"]

list_copy = list_org.copy()
list_copy2 = list(list_org)
list_copy3 = list_org[:]

# now modifying the copy does not affect the original
list_copy.append(True)
print(list_copy, list_copy2, list_copy3)
print(list_org)

['banana', 'cherry', 'apple', True] ['banana', 'cherry', 'apple'] ['banana', 'cherry', 'apple']
['banana', 'cherry', 'apple']

## iterating in a list

In [19]:
# Iterating over a list by using a for in loop
for i in list_1:
    print(i)

banana
cherry
lemon

## check if an item exists

In [20]:
if "banana" in list_1:
  print("yes")
else:
  print("no")

yes

## SLICING

In [21]:
# a[start:stop:step], default step is 1
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
b = a[1:3] # Note that the last index is not included
print(b)

[2, 3]

In [22]:
b = a[2:] # until the end
print(b)
b = a[:3] # from beginning
print(b)

[3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3]

In [23]:
a[0:3] = [0] # replace sub-parts, you need an iterable here
print(a)

[0, 4, 5, 6, 7, 8, 9, 10]

In [24]:
b = a[::2] # start to end with every second item
print(b)

[0, 5, 7, 9]

In [25]:
a = a[::-1] # reverse the list with a negative step:
print(a)

[10, 9, 8, 7, 6, 5, 4, 0]

In [26]:
b = a[:] # copy a list with slicing
print(b)

[10, 9, 8, 7, 6, 5, 4, 0]

In [27]:
#NEGATIVE VALUE FOR START OR STOP REFERS TO END OF THE LIST
a = [1,2,3,4,5,6,7,8,9,10]
print(a[-1])
print(a[-4:-1])

10
[7, 8, 9]

## LIST COMPREHENSION

In [28]:
a = [1,2,3,4,5,6,7,8,9,10]
b = [i*i for i in a] #squares each element
print(b)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

## nested lists

In [29]:
a = [[1,2], [3,4]]
print(a)
print(a[0])

[[1, 2], [3, 4]]
[1, 2]

# TUPLES

---

A tuple is a collection of objects which is ordered and immutable. Tuples are similar to lists, the main difference is the immutability. In Python tuples are written with round brackets and comma separated values.
Reasons to uise tuples over lists :
* Generally used for objects that belong together.
* Use tuple for heterogeneous (different) datatypes and list for homogeneous (similar) datatypes.
* Since tuple are immutable, iterating through tuple is slightly faster than with list.
* Tuples with their immutable elements can be used as key for a dictionary. This is not possible with lists.
* If you have data that doesn't change, implementing it as tuple will guarantee that it remains write-protected.

## Creating Tuples

In [30]:
tuple_1 = ("Max", 28, "New York")
tuple_2 = "Linda", 25, "Miami" # Parentheses are optional
# Special case: a tuple with only one element needs to have a comma at the end, 
# otherwise it is not recognized as tuple
tuple_3 = (25,)
print(tuple_1)
print(tuple_2)
print(tuple_3)

('Max', 28, 'New York')
('Linda', 25, 'Miami')
(25,)

In [31]:
# Or convert an iterable (list, dict, string) with the built-in tuple function
tuple_4 = tuple([1,2,3])
print(tuple_4)

(1, 2, 3)

## access elements

In [32]:
item = tuple_1[0]
print(item)
# You can also use negative indexing, e.g -1 refers to the last item,
# -2 to the second last item, and so on
item = tuple_1[-1]
print(item)

Max
New York

## add or change items - won't work as tuples are immutable and will throw TypeError

## deleting a tuple

In [33]:
del tuple_2

In [34]:
print(tuple_2)

NameError: ignored

## Iterating in a tuple

In [37]:
for i in tuple_1:
  print(i)

Max
28
New York

## Check if an item exists

In [38]:
if "New York" in tuple_1:
  print("yes")
else:
  print("no")

yes

## USeful Methods

In [39]:
my_tuple = ('a','p','p','l','e',)

In [40]:
# len() : get the number of elements in a tuple
print(len(my_tuple))

5

In [41]:
# count(x) : Return the number of items that is equal to x
print(my_tuple.count('p'))

2

In [42]:
# index(x) : Return index of first item that is equal to x
print(my_tuple.index('l'))

3

In [43]:
# repetition
my_tuple = ('a', 'b') * 5
print(my_tuple)

('a', 'b', 'a', 'b', 'a', 'b', 'a', 'b', 'a', 'b')

In [44]:
# concatenation
my_tuple = (1,2,3) + (4,5,6)
print(my_tuple)

(1, 2, 3, 4, 5, 6)

In [45]:
# convert list to a tuple and vice versa
my_list = ['a', 'b', 'c', 'd']
list_to_tuple = tuple(my_list)
print(list_to_tuple)

tuple_to_list = list(list_to_tuple)
print(tuple_to_list)

('a', 'b', 'c', 'd')
['a', 'b', 'c', 'd']

In [46]:
# convert string to tuple
string_to_tuple = tuple('Hello')
print(string_to_tuple)

('H', 'e', 'l', 'l', 'o')

## Slicing

In [47]:
# a[start:stop:step], default step is 1
a = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
b = a[1:3] # Note that the last index is not included
print(b)
b = a[2:] # until the end
print(b)
b = a[:3] # from beginning
print(b)
b = a[::2] # start to end with every second item
print(b)
b = a[::-1] # reverse tuple
print(b)

(2, 3)
(3, 4, 5, 6, 7, 8, 9, 10)
(1, 2, 3)
(1, 3, 5, 7, 9)
(10, 9, 8, 7, 6, 5, 4, 3, 2, 1)

## Unpack Tuple

In [48]:
#similar to array destructuring in javascript
tuple_1 = ("Max", 28, "New York")
name, age, city = tuple_1
print(name)
print(age)
print(city)

Max
28
New York

In [49]:
# tip: unpack multiple elements to a list with *
# there can not be more than one starred expression 
my_tuple = (0, 1, 2, 3, 4, 5)
item_first, *items_between, item_last = my_tuple
print(item_first)
print(items_between)
print(item_last)

0
[1, 2, 3, 4]
5

In [50]:
*item_test, item_test2, item_test3, item4 = (0,1,2,3,4,5,6,7,8,9)
print(item_test)

[0, 1, 2, 3, 4, 5, 6]

## Nested Tuples

In [51]:
a = ((0, 1), ('age', 'height'))
print(a)
print(a[0])

((0, 1), ('age', 'height'))
(0, 1)

# COMPARE TUPLE AND LIST
The immutability of tuples enables Python to make internal optimizations. Thus, tuples can be more efficient when working with large data.

In [52]:
# compare the size
import sys
my_list = [0, 1, 2, "hello", True]
my_tuple = (0, 1, 2, "hello", True)
print(sys.getsizeof(my_list), "bytes")
print(sys.getsizeof(my_tuple), "bytes")

# compare the execution time of a list vs. tuple creation statement
import timeit
print(timeit.timeit(stmt="[0, 1, 2, 3, 4, 5]", number=1000000))
print(timeit.timeit(stmt="(0, 1, 2, 3, 4, 5)", number=1000000))

112 bytes
96 bytes
0.13138070600007268
0.017883699999856617

# **DICTIONARY**
A dictionary is a collection which is unordered, changeable and indexed. A dictionary consists of a collection of key-value pairs. Each key-value pair maps the key to its associated value. A dictionary is written in braces. Each key is separated from its value by a colon (:), and the items are separated by commas.

## Create a dictionary

In [53]:
my_dict = {"name":"Max", "age":28, "city":"New York"}
print(my_dict)

# or use the dict constructor, note: no quotes necessary for keys
my_dict_2 = dict(name="Lisa", age=27, city="Boston")
print(my_dict_2)

{'name': 'Max', 'age': 28, 'city': 'New York'}
{'name': 'Lisa', 'age': 27, 'city': 'Boston'}

## Access items

In [60]:
import logging
logger = logging.getLogger("test")
name_in_dict = my_dict["name"]
print(name_in_dict)

# KeyError if no key is found
try:
  print(my_dict["lastname"])
except Exception as e:
  logger.error(repr(e))

ERROR:test:KeyError('lastname')

Max

## Add and change items

In [61]:
# add a new key
my_dict["email"] = "max@xyz.com"
print(my_dict)

# or overwrite the now existing key
my_dict["email"] = "coolmax@xyz.com"
print(my_dict)

{'name': 'Max', 'age': 28, 'city': 'New York', 'email': 'max@xyz.com'}
{'name': 'Max', 'age': 28, 'city': 'New York', 'email': 'coolmax@xyz.com'}

## Delete items

In [62]:
# delete a key-value pair
del my_dict["email"]

print(my_dict)

{'name': 'Max', 'age': 28, 'city': 'New York'}

In [63]:
# this returns the value and removes the key-value pair
print("popped value:", my_dict.pop("age"))

popped value: 28

In [64]:
# return and removes the last inserted key-value pair 
# (in versions before Python 3.7 it removes an arbitrary pair)
print("popped item:", my_dict.popitem())

popped item: ('city', 'New York')

In [65]:
print(my_dict)

# clear() : remove all pairs
# my_dict.clear()

{'name': 'Max'}

## Check for keys

In [66]:
my_dict = {"name":"Max", "age":28, "city":"New York"}
# use if .. in ..
if "name" in my_dict:
    print(my_dict["name"])

Max

In [67]:
# use try except
try:
    print(my_dict["firstname"])
except KeyError:
    print("No key found")

No key found

### using try except with lists and tuples

In [68]:
my_list = [1,2,3,4,5]
try:
  print(my_list[10])
except Exception as e:
  print(e)

list index out of range

## Looping through dictionary

In [69]:
#loop over keys
for key in my_dict:
  print(key," : ", my_dict[key])

name  :  Max
age  :  28
city  :  New York

In [70]:
#loop over keys:
for key in my_dict.keys():
  print(key)

name
age
city

In [72]:
#loop over values
for value in my_dict.values():
  print(value)

Max
28
New York

In [73]:
#loop over keys and values:
for key, value in my_dict.items():
  print(key, value)

name Max
age 28
city New York

## Copy a dictionary

In [74]:
dict_org = {"name":"Max", "age":28, "city":"New York"}
# this just copies the reference to the dict, so be careful
dict_copy = dict_org

# now modifying the copy also affects the original
dict_copy["name"] = "Lisa"
print(dict_copy)
print(dict_org)

{'name': 'Lisa', 'age': 28, 'city': 'New York'}
{'name': 'Lisa', 'age': 28, 'city': 'New York'}

In [75]:
# use copy(), or dict(x) to actually copy the dict
dict_org = {"name":"Max", "age":28, "city":"New York"}

dict_copy = dict_org.copy()
# dict_copy = dict(dict_org)

# now modifying the copy does not affect the original
dict_copy["name"] = "Lisa"
print(dict_copy)
print(dict_org)

{'name': 'Lisa', 'age': 28, 'city': 'New York'}
{'name': 'Max', 'age': 28, 'city': 'New York'}

## Merge two dictionaries

In [76]:
# Use the update() method to merge 2 dicts
# existing keys are overwritten, new keys are added
my_dict = {"name":"Max", "age":28, "email":"max@xyz.com"}
my_dict_2 = dict(name="Lisa", age=27, city="Boston")

my_dict.update(my_dict_2)
print(my_dict)

{'name': 'Lisa', 'age': 27, 'email': 'max@xyz.com', 'city': 'Boston'}

## Possible key types
Any immutable type, like strings or numbers can be used as a key. Also, a tuple can be used if it contains only immutable elements.

In [77]:
# use numbers as key, but be careful
my_dict = {3: 9, 6: 36, 9:81}
# do not mistake the keys as indices of a list, e.g my_dict[0] is not possible here
print(my_dict[3], my_dict[6], my_dict[9])

9 36 81

In [78]:
# use a tuple with immutable elements (e.g. number, string)
my_tuple = (8, 7)
my_dict = {my_tuple: 15}

print(my_dict[my_tuple])

15

In [83]:
print(my_dict[(8,7)])
print(my_dict[8,7])

15
15

In [84]:
# a list is not possible because it is not immutable
# this will raise an Error:
try:
  my_list = [8, 7]
  my_dict = {my_list: 15}
except Exception as e:
  print(repr(e))

TypeError("unhashable type: 'list'")

## Nested Dictionaries

The values can also be container types (e.g. lists, tuples, dictionaries).

In [85]:
my_dict_1 = {"name": "Max", "age": 28}
my_dict_2 = {"name": "Alex", "age": 25}
nested_dict = {"dictA": my_dict_1,
               "dictB": my_dict_2}
print(nested_dict)

{'dictA': {'name': 'Max', 'age': 28}, 'dictB': {'name': 'Alex', 'age': 25}}

# SETS
A Set is an unordered collection data type that is unindexed, mutable, and has no duplicate elements. Sets are created with braces.

## Create a set

In [86]:
my_set = {"apple", "banana", "cherry"}
print(my_set)

{'banana', 'cherry', 'apple'}

In [87]:
# or use the set function and create from an iterable, e.g. list, tuple, string
my_set_2 = set(["one", "two", "three"])
my_set_2 = set(("one", "two", "three"))
print(my_set_2)

{'three', 'two', 'one'}

In [91]:
print(tuple(my_set))
print(list(my_set))

('banana', 'cherry', 'apple')
['banana', 'cherry', 'apple']

In [94]:
my_set_3 = set("aaabbbcccdddeeeeeffff")
print(my_set_3)
print(set("Hello World  and everyone"))

{'d', 'b', 'e', 'a', 'c', 'f'}
{'y', 'n', 'd', 'a', 'l', 'v', 'H', 'e', ' ', 'W', 'r', 'o'}

In [95]:
# careful: an empty set cannot be created with {}, as this is interpreted as dict
# use set() instead
a = {}
print(type(a))
a = set()
print(type(a))

<class 'dict'>
<class 'set'>

## Add elements

In [96]:
my_set = set()

# use the add() method to add elements
my_set.add(42)
my_set.add(True)
my_set.add("Hello")

# note: the order does not matter, and might differ when printed
print(my_set)

{True, 42, 'Hello'}

In [97]:
# nothing happens when the element is already present:
my_set.add(42)
print(my_set)

{True, 42, 'Hello'}

## Remove Elements

In [98]:
# remove(x): removes x, raises a KeyError if element is not present
my_set = {"apple", "banana", "cherry"}
my_set.remove("apple")
print(my_set)

{'banana', 'cherry'}

In [99]:
try:
  my_set.remove("orange")
except Exception as e:
  print(repr(e))

KeyError('orange')

In [100]:
# discard(x): removes x, does nothing if element is not present
my_set.discard("cherry")
my_set.discard("blueberry")
print(my_set)

{'banana'}

In [101]:
# clear() : remove all elements
my_set.clear()
print(my_set)

set()

In [104]:
# pop() : return and remove a random element
a = {True, 2, False, "hi", "hello"}
print(a.pop())
print(a)

False
{True, 2, 'hi', 'hello'}

## Check if element is in set

In [105]:
my_set = {"apple", "banana", "cherry"}
if "apple" in my_set:
    print("yes")

yes

## Iterating

In [106]:
# Iterating over a set by using a for in loop
# Note: order is not important
my_set = {"apple", "banana", "cherry"}
for i in my_set:
    print(i)

banana
cherry
apple

## Union and Intersection

In [107]:
odds = {1, 3, 5, 7, 9}
evens = {0, 2, 4, 6, 8}
primes = {2, 3, 5, 7}

# union() : combine elements from both sets, no duplication
# note that this does not change the two sets
print(odds.union(evens))

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [110]:
# intersection(): take elements that are in both sets
print(odds.intersection(evens))
print(odds.intersection(primes))
print(evens.intersection(primes))

set()
{3, 5, 7}
{2}

## Difference of sets

In [111]:
setA = {1, 2, 3, 4, 5, 6, 7, 8, 9}
setB = {1, 2, 3, 10, 11, 12}
# difference() : returns a set with all the elements from the setA that are not in setB.
print(setA.difference(setB))

{4, 5, 6, 7, 8, 9}

In [112]:
# A.difference(B) is not the same as B.difference(A)
print(setB.difference(setA))

{10, 11, 12}

In [114]:
# symmetric_difference() : returns a set with all the elements that are in setA or setB but not in both
# A.symmetric_difference(B) = B.symmetric_difference(A)
print(setA.symmetric_difference(setB))
print(setB.symmetric_difference(setA))

{4, 5, 6, 7, 8, 9, 10, 11, 12}
{4, 5, 6, 7, 8, 9, 10, 11, 12}

## Updating Sets

In [115]:
setA = {1, 2, 3, 4, 5, 6, 7, 8, 9}
setB = {1, 2, 3, 10, 11, 12}

# update() : Update the set by adding elements from another set.
setA.update(setB)
print(setA)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}

In [116]:
# intersection_update() : Update the set by keeping only the elements found in both
setA = {1, 2, 3, 4, 5, 6, 7, 8, 9}
setA.intersection_update(setB)
print(setA)

{1, 2, 3}

In [117]:
# difference_update() : Update the set by removing elements found in another set.
setA = {1, 2, 3, 4, 5, 6, 7, 8, 9}
setA.difference_update(setB)
print(setA)

{4, 5, 6, 7, 8, 9}

In [118]:
# symmetric_difference_update() : Update the set by only keeping the elements found in either set, but not in both
setA = {1, 2, 3, 4, 5, 6, 7, 8, 9}
setA.symmetric_difference_update(setB)
print(setA)

{4, 5, 6, 7, 8, 9, 10, 11, 12}

In [120]:
# Note: all update methods also work with other iterables as argument, e.g lists, tuples
# setA.update([1, 2, 3, 4, 5, 6])

## Copying

In [121]:
set_org = {1, 2, 3, 4, 5}
# this just copies the reference to the set, so be careful
set_copy = set_org

# now modifying the copy also affects the original
set_copy.update([3, 4, 5, 6, 7])
print(set_copy)
print(set_org)

{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 5, 6, 7}

In [122]:
# use copy() to actually copy the set
set_org = {1, 2, 3, 4, 5}
set_copy = set_org.copy()

# now modifying the copy does not affect the original
set_copy.update([3, 4, 5, 6, 7])
print(set_copy)
print(set_org)

{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 5}

## Subset, Superset and Disjoint

In [124]:
setA = {1, 2, 3, 4, 5, 6}
setB = {1, 2, 3}

# issubset(setX): Returns True if setX contains the set
print(setA.issubset(setB))
print(setB.issubset(setA)) # True

False
True

In [125]:
# issuperset(setX): Returns True if the set contains setX
print(setA.issuperset(setB)) # True
print(setB.issuperset(setA))

True
False

In [126]:
# isdisjoint(setX) : Return True if both sets have a null intersection, i.e. no same elements
setC = {7, 8, 9}
print(setA.isdisjoint(setB))
print(setA.isdisjoint(setC))

False
True

## Frozen Set
Frozen set is just an immutable version of normal set. While elements of a set can be modified at any time, elements of frozen set remains the same after creation. Creation with:

In [127]:
a = frozenset([0, 1, 2, 3, 4])
# The following is not allowed:
# a.add(5)
# a.remove(1)
# a.discard(1)
# a.clear()

# Also no update methods are allowed:
# a.update([1,2,3])

In [128]:
# Other set operations work
odds = frozenset({1, 3, 5, 7, 9})
evens = frozenset({0, 2, 4, 6, 8})
print(odds.union(evens))
print(odds.intersection(evens))
print(odds.difference(evens))

frozenset({0, 1, 2, 3, 4, 5, 6, 7, 8, 9})
frozenset()
frozenset({1, 3, 5, 7, 9})

In [129]:
print(set({1,2,3,4,5,6,7}).issuperset(set({4,5,6})))

True

# STRINGS

A string is a sequence of characters. String literals in Python are enclosed by either double or single quotes.

## Creation

In [130]:
# use singe or double quotes
my_string = 'Hello'
my_string = "Hello"
my_string = "I' m  a 'Geek'"

In [131]:
# escaping backslash
my_string = 'I\' m  a "Geek"'
my_string = 'I\' m a \'Geek\''
print(my_string)

I' m a 'Geek'

In [133]:
# triple quotes for multiline strings
my_string = """Hello
     World"""
print(my_string)

Hello
     World

In [134]:
# backslash if you want to continue in the next line
my_string = "Hello \
World"
print(my_string)

Hello World

## Access characters and substrings

In [135]:
my_string = "Hello World"

# get character by referring to index
print(my_string[0])

H

In [137]:
# Substrings with slicing
b = my_string[1:3] # Note that the last index is not included
print(b)
b = my_string[:5] # from beginning
print(b)
b = my_string[6:] # until the end
print(b)
b = my_string[::2] # start to end with every second item
print(b)
b = my_string[::-1] # reverse the string with a negative step:
print(b)

print(my_string[::-2])

el
Hello
World
HloWrd
dlroW olleH
drWolH

## Concatenate two or more strings

In [140]:
# concat strings with +
greeting = "Hello"
name = "Tom"
sentence = greeting + ' ' + name
print(sentence)

Hello Tom

## Iterating

In [141]:
# Iterating over a string by using a for in loop
my_string = 'Hello'
for i in my_string:
    print(i)

H
e
l
l
o

## Check if a character or substring exists

In [142]:
if "e" in "Hello":
    print("yes")
if "llo" in "Hello":
    print("yes")

yes
yes

## **Useful Methods**

In [143]:
my_string = "     Hello World "

#remove white space
print(my_string.strip())

Hello World

In [144]:
# number of characters
print(len(my_string))

17

In [145]:
# Upper and Lower cases
print(my_string.upper())
print(my_string.lower())

     HELLO WORLD
     hello world

In [146]:
#Startswith and endswith
print("hello".startswith("he"))
print("hello".endswith("pkdf"))

True
False

In [147]:
# find first index of a given substring, -1 otherwise
print("Hello".find("o"))

4

In [149]:
# count number of characters/substrings
print("hello".count('e'))

1

In [150]:
# replace a substring with another string (only if the substring is found)
# Note: The original string stays the same
print("Hello World".replace("World", "Universe"))

Hello Universe

In [151]:
#Split the string into a list
print("how are you doing".split()) #default argument is " "

['how', 'are', 'you', 'doing']

In [152]:
print("ari-bha-is-me".split("-"))

['ari', 'bha', 'is', 'me']

In [153]:
# join elements of a list into a string
print(' '.join(list(['how','is','saitama']))) # the given string is the separator, e.g. ' ' between each argument

how is saitama

In [154]:
print('-'.join(list(['how','is','saitama'])))

how-is-saitama

## Format

In [155]:
# use braces as placeholders
print("Hello this is {0} and {1}".format("Zero", "One"))

Hello this is Zero and One

In [156]:
# the positions are optional for the default order
print("Hello this is {} and {}".format("Two", "Three"))

Hello this is Two and Three

In [158]:
# some special format rules for numbers
print("the float value is {0:.3f}".format(3.14159))

the float value is 3.142

In [160]:
print("The float value is {0:e}".format(2.1234)) #in exp format
print("The float value is {0:e}".format(21234))

The float value is 2.123400e+00
The float value is 2.123400e+04

In [161]:
print("The binary value is {0:b}".format(2))

The binary value is 10

In [162]:
# old style formatting by using % operator
print("Hello %s and %s" % ("Bob", "Tom")) # must be a tuple for multiple arguments
val =  3.14159265359
print("The decimal value is %d" % val)
print("The float value is %f" % val)
print("The float value is %.2f" % val)

Hello Bob and Tom
The decimal value is 3
The float value is 3.141593
The float value is 3.14

## f-strings
New since Python 3.6. Use the variables directly inside the braces.

In [171]:
name = "Eric"
age = 25
a = f"Hello, {name}. You are {age}."
print(a)
pi = 3.14159
a = f"Pi is {pi:.3f}"
print(a)
# f-Strings are evaluated at runtime, which allows expressions
a = f"The value is {2*60}"
print(a)

print(f"This is an binary representation of 1792 : {1792:b}")
print(f"This is an octal representation of 1792 : {1792:o}")
print(f"This is an hexa representation of 1792 : {1792:x}")
print(f"This is an exponential representation of 299.3764423 : {299.3764423:e}")

Hello, Eric. You are 25.
Pi is 3.142
The value is 120
This is an binary representation of 1792 : 11100000000
This is an octal representation of 1792 : 3400
This is an hexa representation of 1792 : 700
This is an exponential representation of 299.3764423 : 2.993764e+02

## More on immutability and concatenation

In [173]:
# since a string is immutable, adding strings with +,  or += always 
# creates a new string, and therefore is expensive for multiple operations
# --> join method is much faster
from timeit import default_timer as timer
my_list = ["a"] * 1000000

#bad
start = timer()
a=""
for i in my_list:
  a+=i
end = timer()
print("Time taken for concatenation with + is : ",(end-start))

Time taken for concatenation with + is :  0.18108107499938342

In [175]:
#good
start=timer()
a="".join(my_list)
end=timer()
print(f"Time taken for concatenation with join is : {(end-start): .5f}")

Time taken for concatenation with join is :  0.01189